#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
[mysqld]
max_heap_table_size=6294966272
tmp_table_size=6294966272
event_scheduler=ON
thread_handling=pool-of-threads
!includedir /etc/my.cnf.d
#innodb_force_recovery=1
